################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Courses/FileContentIndex
/.vs/Courses/v17
*.sqlite
/.vs/VSWorkspaceState.json
/Courses/.vs/Courses/v17/.suo
*.vsidx
/Courses/.vs/Courses/FileContentIndex/fde88859-6992-4e14-baca-75ee1fdb0ad1.vsidx
/Courses/.vs/Courses/DesignTimeBuild/.dtbcache.v2
/Courses/.vs/ProjectEvaluation/courses.metadata.v5.2
/Courses/.vs/ProjectEvaluation/courses.projects.v5.2
*.suo
*.v2
*.cache
*.editorconfig
*.props
*.targets
